/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
nav li,
#mobileMenu li {
  list-style: none;
}
nav li a,
#mobileMenu li a {
  text-decoration: none;
  color: #1c2136;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
}
#mobileMenuButton {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px;
  border-radius: 25%;
}
#mobileMenu button {
  color: #1c2136;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
  border: 2px solid #1c2136;
  padding: 1px 7px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 25px;
}
.logo {
  color: #1c2136;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
}
#home-section {
  background: url('../images/mainBackground.jpg') center center no-repeat;
  background-size: cover;
}
#profiles-section {
  background: url('../images/workingProfileBackground.jpg') center center
    no-repeat;
  background-size: cover;
}
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.animation-slideUpFromRight {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: slideFromRight 0.5s forwards;
  animation: slideFromRight 0.5s forwards;
}
.animation-hideDownToRight {
  -webkit-animation: hideDownToRight 0.5s forwards;
  animation: hideDownToRight 0.5s forwards;
}

.logo img {
  width: 150px;
  height: 103px;
}
@media screen and (max-width: 900px) {
  .logo img {
    width: 100px;
    height: 69px;
  }
}

@-webkit-keyframes comeIn {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes comeIn {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes slideFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

@-webkit-keyframes hideDownToRight {
  from {
    left: 0vw;
    display: -webkit-box !important;
    display: flex !important;
  }
  to {
    left: 100vw;
    display: none;
  }
}

@keyframes hideDownToRight {
  from {
    left: 0vw;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  to {
    left: 100vw;
    display: none;
  }
}
