.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.items-end {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gap-3 {
  gap: calc(3 * 0.4rem);
}
.gap-4 {
  gap: calc(4 * 0.4rem);
}
.gap-8 {
  gap: calc(8 * 0.4rem);
}
.gap-12 {
  gap: calc(12 * 0.4rem);
}
.gap-16 {
  gap: calc(16 * 0.4rem);
}
.hidden {
  display: none;
}
.w-1\/12 {
  width: 8%;
}
.w-2\/12 {
  width: 17%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33%;
}
.w-5\/12 {
  width: 42%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58%;
}
.w-8\/12 {
  width: 67%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83%;
}
.w-11\/12 {
  width: 92%;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.min-h-full {
  min-height: 100vh;
}
.max-h-full {
  max-height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.backdrop {
  background-color: rgba(17, 17, 186, 0.6);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.font-bold {
  font-weight: bold;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.mt-2 {
  margin-top: calc(2 * 0.4rem);
}
.mt-4 {
  margin-top: calc(4 * 0.4rem);
}
.mt-8 {
  margin-top: calc(8 * 0.4rem);
}
.mt-12 {
  margin-top: calc(12 * 0.4rem);
}
.mt-24 {
  margin-top: calc(24 * 0.4rem);
}
.mb-2 {
  margin-bottom: calc(2 * 0.4rem);
}
.mb-4 {
  margin-bottom: calc(4 * 0.4rem);
}
.mb-8 {
  margin-bottom: calc(8 * 0.4rem);
}
.font-2 {
  font-size: calc(2 * 0.4rem);
}
.font-3 {
  font-size: calc(3 * 0.4rem);
}
.font-4 {
  font-size: calc(4 * 0.4rem);
}
.font-6 {
  font-size: calc(6 * 0.4rem);
}
.no-list {
  list-style: none;
}
.rotate-15-l {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.rotate-15-r {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.rotate-20-l {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.rotate-20-r {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.rotate-45-l {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rotate-45-r {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.pointer {
  cursor: pointer;
}
.bg-white {
  background-color: white;
}
.backdrop {
  background-color: rgba(28, 33, 54, 0.7);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.rounded-15 {
  border-radius: 15px;
}
.decoration-none {
  text-decoration: none;
}
.invisible {
  opacity: 0;
}
