@media screen and (max-width: 900px) {
  .wrap-on-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .md\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .md\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .md\:w-10\/12 {
    width: 83%;
  }
  .md\:w-11\/12 {
    width: 92%;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .md\:justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .md\:gap-0 {
    gap: 0;
  }
  .md\:gap-4 {
    gap: calc(4 * 0.4rem);
  }
  .md\:gap-8 {
    gap: calc(8 * 0.4rem);
  }
  .md\:text-center {
    text-align: center;
  }
  .md\:items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .md\:mt-8 {
    margin-top: calc(8 * 0.4rem);
  }
  .md\:mb-8 {
    margin-bottom: calc(8 * 0.4rem);
  }
  .md\:mt-12 {
    margin-top: calc(12 * 0.4rem);
  }
  .md\:max-h-none {
    max-height: none;
  }
  .md\:no-list {
    list-style: none;
  }
  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .md\:pt-12 {
    padding-top: calc(12 * 0.4rem);
  }
  .md\:font-3 {
    font-size: calc(3 * 0.4rem);
  }
  .md\:rotate-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
