@media screen and (max-width: 1366px) {
  .lg\:font-2 {
    font-size: calc(2 * 0.4rem);
  }
  .lg\:font-3 {
    font-size: calc(3 * 0.4rem);
  }
  .lg\:font-4 {
    font-size: calc(4 * 0.4rem);
  }
  .lg\:font-6 {
    font-size: calc(6 * 0.4rem);
  }
}
