@media screen and (max-width: 450px) {
  .sm\:hidden {
    display: none;
  }
  .sm\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm\:gap-0 {
    gap: 0;
  }
  .sm\:gap-2 {
    gap: calc(2 * 0.4rem);
  }
  .sm\:gap-8 {
    gap: calc(8 * 0.4rem);
  }
  .sm\:gap-12 {
    gap: calc(12 * 0.4rem);
  }
  .sm\:font-2 {
    font-size: calc(2 * 0.4rem);
  }
  .sm\:font-3 {
    font-size: calc(3 * 0.4rem);
  }
  .sm\:font-4 {
    font-size: calc(4 * 0.4rem);
  }
  .sm\:mb-0 {
    margin-bottom: 0;
  }
}
